body {
    font-size:1.16rem;
}

div#header {
    display:flex;
    justify-content:space-around;
    border: solid 2px #225662;
    padding: 10px;
}

table {
    border-collapse: separate;
    width:80%;
    margin:auto;
    border:solid 4px rgb(45, 45, 45);
    border-radius:10px;
    padding:3px;
    background-color: rgb(45, 45, 45);

}


thead, tr {
    border: solid 1px rgb(108, 108, 108);
    text-align: center;
}

td {
    border: solid 1px black;
}

tr:nth-child(even) {
    background: #FFF

}
tr:nth-child(odd) {
    background: rgb(177, 177, 177)
}

td.type_buy, .profit_positive {
    color: green;
}

td.type_sell, .profit_negative {
    color: red;
}

div.accordion_tradeDay {
    display:flex;
    width:80%;
    justify-content:space-between;
}
